.product-detail {
    margin: 90px 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.product-detail__image {
    height: 500px;
}

.details__label {
    font-size: 20px;
    padding-left: 50px;
}