.product{
    width: 250px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.product-card__image{
    width: 200px;
}

@media only screen and (max-width: 600px) {
    .product-card__image{
        width: 350px;
    }

    .product-card{
        width: 350px;
        display: flex;
        flex-direction: column;
    }
}


.product-card__price, .product-card__name{
    font-family: sans-serif;
}

.product-card__button--view, .product-card__button--add{
    margin: 10px;
    background-color: rgb(11, 122, 30);
    color: white;
    border: none;
    font-family: sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
}

.product-card__button--remove{
    margin: 10px;
    background-color: white;
    color: green;
    border: none;
    font-family: sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
}

button:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
